.resume-container {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.download-btn a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #333;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.download-btn a:hover {
  background-color: #333;
  color: #fff;
}
